@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oleo+Script:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap");

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: start;
  align-items: start;
  background-color: #f5f5f5;
  position: relative;
}

.bgimg {
  position: absolute;
  z-index: 1;
  width: 500px;
  height: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
}

.imgContainer {
  display: flex;
  background-color: #354259;
  width: 100%;
  height: 20%;
  justify-content: center;
}

.tag {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tagImage {
  object-fit: contain;
  width: 100vw;
  height: 100%;
}

.collum {
  display: flex;
  flex-direction: column;
  /* padding: 0px 50px; */
  justify-content: center;
  align-items: start;
  width: 100%;
  z-index: 5;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.numb {
  font-size: 5vw;
  color: #bf092f;
  font-weight: bold;
  padding-left: 10px;
}

.possision {
  font-size: 4.5vw;
  color: #703b3b;
  font-weight: 500;
  font-family: "Funnel Display", sans-serif;
  padding-right: 10px;
}

.Time,
.navi {
  display: flex;
  text-align: start;
  font-size: 5vw;
  font-weight: 500;
  color: #354259;
  line-height: 150px;
  font-family: "Funnel Display", sans-serif;
  padding-left: 10px;
}

.Time {
  line-height: 50px;
}

.remark,
.filled {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-left: 10px;
}

.remark {
  line-height: 80px;
}

.lable {
  font-size: 4.5vw;
  color: #3b62a1;
  font-weight: 500;
  font-family: "Funnel Display", sans-serif;
}

.input {
  font-size: 4.5vw;
  color: #172233;
  font-weight: 500;
  font-family: "Funnel Display", sans-serif;
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animateBox {
  animation: fadeSlideUp 1s ease-out forwards;
}

.video {
  position: absolute;
  z-index: 2;
  width: 600px;
  height: 400px;
  right: 0px;
  bottom: 60px;
}

.planeAnimation {
  width: 100%;
  height: 100%;
}
